.ReloadPrompt-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ReloadPrompt-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  color: #333;
  background-color: whitesmoke;
}
.ReloadPrompt-toast-message {
  margin-bottom: 8px;
}
.ReloadPrompt-toast-button {
  display: grid;
  align-self: center;
  border: 1px solid #8885;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
}
